header {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: 26px;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 26px;
  h1 {
    font-weight: 500;
    font-size: 18px;
    color: #212121;
  }
  p {
    color: #b5b5c3;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
  }
  button {
    width: 80px;
    height: 34px;
    background: #f64e60;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    border-radius: 6px;
  }
}
.inputs-wrapper {
  display: flex;
  gap: 33px;
}
