table {
  border-spacing: 0px;
  margin: 0 auto;
  width: 90%;
  margin-top: 68px;
  padding-bottom: 94px;
  tr {
    position: relative;
  }
  th {
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    background-color: #f3f6f9;
    height: 43px;
    padding-left: 9px;
  }
  td {
    padding-left: 9px;
    height: 55px;
  }
}
.table-button {
  position: absolute;
  width: 92px;
  height: 34px;
  background: #c9f7f5;
  border-radius: 6px;
  right: 92px;
  border: none;
  top: 10px;
  color: #1bc5bd;
  font-weight: 600;
  font-size: 12px;
}
